.min-h-screen {
  min-height: 100vh;
}

.align-item-center {
  align-items: center;
}

.search-input {
  width: 400px;
}

.fa {
  pointer-events: none;
}

main {
  padding-top: 65px;
  padding-left: 200px;
}

.sidebar {
  margin-top: 65px;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden scroll;
}

a {
  display: flex;
  align-items: center;
}

.avatar-profile {
  margin-top: -70px;
}

img {
  background: rgba(0, 0, 0, 0.05);
}

.filter-tag {
  gap: 5px;
}

.new-thread-button {
  background-color: initial;
  border: 0;
  bottom: 32px;
  color: #2d3e50;
  color: var(--foreground-color);
  cursor: pointer;
  font-size: 48px;
  position: fixed;
  right: 32px;
}